button {
  border-radius: 2px;
  padding: 6px 30px;
}

.button-primary {
  background-color: #0069d9;
  color: white;
  border: #0069d9;
}

.primary-button-large {
  padding: 20px 60px;
}

.button-primary-hollow {
  background-color: transparent;
  color: #0069d9;
  border: 1px solid #0069d9;
  border-radius: 2px;
}
.button-primary-hover:hover {
  background-color: #0651a1;
}
.button-primary-lite {
  background-color: #c6e3ff;
  color: #0069d9;
}
.button-primary-large-lite {
  background-color: #c6e3ff;
  color: #0069d9;
  padding: 20px 60px;
}
.button-primary-large-hollow {
  padding: 20px 60px;
  background-color: transparent;
  color: #0069d9;
  border: 1px solid #0069d9;
  border-radius: 2px;
}
.button-danger {
  background-color: red;
  color: white;
  border: red;
}

.button-success {
  background-color: green;
  color: white;
  border: green;
}

.button-warning {
  background-color: orange;
  color: white;
  border: orange;
}

.button-warning-large {
  background-color: orange;
  color: white;
  border: orange;
  padding: 20px 60px;
}

.button-warning-hollow {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
}

.button-warning-hover:hover {
  background-color: rgb(211, 142, 14);
}

.button-warning-lite {
  background-color: rgb(255, 225, 170);
  color: orange;
}

.button-warning-large-lite {
  background-color: rgb(255, 225, 170);
  color: orange;
  padding: 20px 60px;
}

.button-warning-large-hollow {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  padding: 20px 60px;
}

.button-default {
  background-color: rgb(70, 70, 70);
  color: white;
  border: rgb(70, 70, 70);
}

.button-default-large {
  background-color: rgb(70, 70, 70);
  color: white;
  border: rgb(70, 70, 70);
  padding: 20px 60px;
}

.button-default-hover:hover {
  background-color: rgb(111, 111, 111);
}

.button-default-lite {
  background-color: rgb(208, 208, 208);
  color: rgb(111, 111, 111);
  border: rgb(70, 70, 70);
}

.button-default-large-lite {
  background-color: rgb(208, 208, 208);
  color: rgb(111, 111, 111);
  border: rgb(70, 70, 70);
  padding: 20px 60px;
}

.button-default-hollow {
  background-color: transparent;
  color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
}

.button-default-large-hollow {
  background-color: transparent;
  color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
  padding: 20px 60px;
}

.button-success-large {
  padding: 20px 60px;
}

.button-success-hover:hover {
  background-color: rgb(25, 103, 25);
}

.button-success-lite {
  background-color: rgb(179, 232, 179);
  color: green;
}

.button-succes-large-lite {
  background-color: rgb(179, 232, 179);
  color: green;
  padding: 20px 60px;
}

.button-success-hollow {
  background-color: transparent;
  color: green;
  border: 1px solid green;
}

.button-success-large-hollow {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  padding: 20px 60px;
}

.button-danger-large {
  padding: 20px 60px;
}

.button-danger-large-hollow {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  padding: 20px 60px;
}

.button-danger-hover:hover {
  background-color: rgb(171, 45, 45);
}

.button-danger-lite {
  background-color: rgb(255, 169, 169);
  color: red;
}

.button-danger-large-lite {
  background-color: rgb(255, 169, 169);
  color: red;
  padding: 20px 60px;
}

.button-danger-hollow {
  background-color: transparent;
  color: red;
  border: 1px solid red;
}

.button-addToCart {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  background-color: #c6e3ff;
  color: #0069d9;
  background-image: url('Images/cart_2.png');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 8px;
  background-position-y: 6px;
}

.button-cartIcon {
  background-color: #c6e3ff;
  background-image: url('Images/cart_2.png');
  background-repeat: no-repeat;
  padding: 15px;
  background-position-x: 6px;
  background-position-y: 6px;
}

.button-heartIcon {
  background-color: #c6e3ff;
  background-image: url('Images/hearts.png');
  background-repeat: no-repeat;
  padding: 15px;
  background-position-x: 7px;
  background-position-y: 7px;
}

.button-addToFavs {
  background-color: #c6e3ff;
  color: #0069d9;
  background-image: url('Images/hearts.png');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 8px;
  background-position-y: 6px;
}

.button-dropdown-normal {
  width: 175px;
  line-height: 1.5em;
  background-color: white;
  border: 1px solid gray;
  color: black;
  text-align: left;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 145px;
  background-position-y: 12px;
}
.button-dropdown-large {
  width: 175px;
  line-height: 2.5em;
  background-color: white;
  border: 1px solid gray;
  color: black;
  text-align: left;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 145px;
  background-position-y: 22px;
  font-size: 14px;
}

.button-dropdown-short {
  width: 90px;
  line-height: 1.5em;
  background-color: white;
  border: 1px solid gray;
  color: black;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 75px;
  background-position-y: 12px;
  text-align: left;
}

.button-dropdown-lite {
  width: 175px;
  line-height: 1.5em;
  background-color: rgb(232, 232, 232);
  border: rgb(232, 232, 232);
  color: black;
  text-align: left;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 145px;
  background-position-y: 15px;
  font-size: 14px;
}

.button-dropdown-large-lite {
  width: 175px;
  line-height: 2em;
  background-color: rgb(232, 232, 232);
  border: rgb(232, 232, 232);
  color: black;
  text-align: left;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 145px;
  background-position-y: 20px;
}

.button-dropdown-short-lite {
  width: 90px;
  line-height: 1.5em;
  background-color: rgb(232, 232, 232);
  border: rgb(232, 232, 232);
  color: black;
  background-image: url(Images/arrowdown.png);
  background-repeat: no-repeat;
  background-position-x: 75px;
  background-position-y: 12px;
  text-align: left;
}
