.button-upDown {
  width: 80px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border-radius: 2px;
}

.up {
  background-image: url('Images/Group\ 27.png');
}

.down {
  background-image: url('Images/Rectangle.png');
}

.up,
.down {
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: transparent;
  padding: 5px;
}
